// ======================================
//  Footer
// ======================================

.main-footer {
  color: $white;
  background-color: $black;
  text-align: center;
  padding: em(10px) 0;
}